# Data Preprocessing

## Library Installation and Imports

In [1]:
# Install necessary libraries
!pip install pandas numpy scikit-learn matplotlib seaborn scipy

Requirement already satisfied: pandas in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (1.26.4)
Requirement already satisfied: scikit-learn in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: matplotlib in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (3.9.2)
Requirement already satisfied: seaborn in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: scipy in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (1.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/everin/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
# Import essential ibraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [8]:
df = pd.read_csv("data/raw/dataset.csv")

In [9]:
df.head()

,id,calories,proteins,fat,carbohydrate,name,image
0,1,280.0,9.2,28.4,0.0,Abon,https://img-cdn.medkomtek.com/PbrY9X3ignQ8sVuj...
1,2,513.0,23.7,37.0,21.3,Abon haruwan,https://img-global.cpcdn.com/recipes/cbf330fbd...
2,3,0.0,0.0,0.2,0.0,Agar-agar,https://res.cloudinary.com/dk0z4ums3/image/upl...
3,4,45.0,1.1,0.4,10.8,Akar tonjong segar,https://images.tokopedia.net/img/cache/200-squ...
4,5,37.0,4.4,0.5,3.8,Aletoge segar,https://nilaigizi.com/assets/images/produk/pro...

In [10]:
df.tail()

,id,calories,proteins,fat,carbohydrate,name,image
2005,660,100.0,7.0,1.5,14.00,Low fat Milk,No Image Available
2006,661,56.2,5.0,0.0,8.75,Yoghurt Skim Milk,No Image Available
2007,662,600.0,23.3,43.3,30.00,Cheezy Pizza Cashew &almond,No Image Available
2008,663,380.0,7.0,1.0,85.00,Self Raising Flour,No Image Available
2009,664,288.0,2.5,16.2,30.00,Walls Oreo Ice Cream,No Image Available

# Sanity Check

In [12]:
# Shape
df.shape

(2010, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2010 entries, 0 to 2009
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2010 non-null   int64
 1   calories      2010 non-null   float64
 2   proteins      2010 non-null   float64
 3   fat           2010 non-null   float64
 4   carbohydrate  2010 non-null   float64
 5   name          2010 non-null   object
 6   image         2010 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 110.0+ KB

In [14]:
df.isnull().sum()

id              0
calories        0
proteins        0
fat             0
carbohydrate    0
name            0
image           0
dtype: int64

In [15]:
df.duplicated().sum()

0

In [18]:
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

name
Yoghurt                              2
Abon                                 1
Waluh balamak                        1
Fried noodles Mi Goreng              1
Indo mie mi goreng instant noodle    1
                                    ..
Kalakai                              1
Kakap                                1
Kaholeo masakan                      1
Kadada katembe                       1
Walls Oreo Ice Cream                 1
Name: count, Length: 2009, dtype: int64
******************************
image
No Image Available                                                                                                                               202
https://drive.google.com/file/d/1LZOGoU3M3XcPbU5_HaAZ26ybCTbiTXpT/view?usp=sharing                                                                10
https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2022/07/13/2233154868.jpg                                                                   4
https://assets.indozone.id/content/2021/10/31/qEsgvo3/gampang-ini-cara-membuat-emping-melinjo-yang-gurih-dan-renyah30_700.jpg                      3
https://d1vbn70lmn1nqe.cloudfront.net/prod/wp-content/uploads/2022/11/30105045/Tinggi-Protein-Ini-X-Manfaat-Ikan-Kakap-untuk-Kesehatan.jpg         2
                                                                                                                                                ...
https://cdns.klimg.com/merdeka.com/i/w/news/2019/10/28/1121036/540x270/7-alasan-konsumsi-kacang-hijau-baik-untuk-wanita.jpg                        1
https://cdn.hellosehat.com/wp-content/uploads/2017/10/e3bdc474-shutterstock_1458579881.jpg?w=1200&q=75                                             1
https://cdns.klimg.com/merdeka.com/i/w/news/2019/11/19/1126920/540x270/tips-dan-cara-membuat-sari-kacang-hijau-yang-benar-untuk-kesuburan.jpg      1
https://cf.shopee.co.id/file/b416e2ddeda943e915e6b496b1e6bb0f                                                                                      1
https://images.openfoodfacts.org/images/products/880/100/764/9238/front_id.3.400.jpg                                                               1
Name: count, Length: 1770, dtype: int64
******************************